<div class="row align-items-center justify-content-center" id="welcome-img">
  <div class="col-8">
    <h1 class="text-center bold">Homepage</h1>
    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor, velit sit amet vestibulum condimentum, urna erat malesuada eros, nec sollicitudin diam sapien sit amet diam. Vestibulum ac metus ornare, semper arcu et, auctor nunc. Duis et urna eu ex pretium semper at ut lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center bold">Projects</h2>
  <hr>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
        <%= image_tag("orangeBlog/preview.png", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Orange Blog</h5>
          <p class="card-text light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "View", project1_path, class: "btn btn-primary" %>
          <span class="m-2">
            <span class="badge rails">Rails</span>
            <span class="badge bootstrap">Bootstrap</span>
          </span>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
        <%= image_tag("universityApp/preview.png", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">University App</h5>
          <p class="card-text light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "View", project2_path, class: "btn btn-primary" %>
          <span class="m-2">
            <span class="badge rails">Rails</span>
            <span class="badge bootstrap">Bootstrap</span>
          </span>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
        <%= image_tag("stockTracker/preview.png", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Stock Tracker</h5>
          <p class="card-text light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "View", project3_path, class: "btn btn-primary" %>
          <span class="m-2">
            <span class="badge rails">Rails</span>
            <span class="badge bootstrap">Bootstrap</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>