<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 col-12 py-3 px-5 align-self-center">
      <h1 class="text-center bold">Orange Blog</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor, velit sit amet vestibulum condimentum, urna erat malesuada eros, nec sollicitudin diam sapien sit amet diam. Vestibulum ac metus ornare, semper arcu et, auctor nunc. Duis et urna eu ex pretium semper at ut lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      <%= link_to "Github Repo", "https://github.com/cyoung-sudo/OrangeBlog", class: "btn btn-primary", target: :_blank %>
      <%= link_to "Heroku link", "https://orange-blog-test-blog.herokuapp.com", class: "btn btn-primary", target: :_blank %>
    </div>

    <div class="col-lg-6 col-12 p-3">
      <%= image_tag("orangeBlog/preview.png", class: "img-fluid project-preview rounded") %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center bold">Main Features</h2>
  <hr>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
        <%= image_tag("orangeBlog/crud.png", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">CRUD Articles</h5>
          <p class="card-text light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
        <%= image_tag("orangeBlog/account.png", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Create Account</h5>
          <p class="card-text light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
        <%= image_tag("orangeBlog/categories.png", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
          <p class="card-text light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>